.home-container {
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;

    .top-banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dbeafe;
        padding: 40px;
        border-radius: 10px;

        .textContainer {
            flex: 1;
            text-align: left;
            margin-left: 5rem;
    
            .title {
                font-size: 24px;
                color: #333;
            }
            .subtitle {
                font-size: 16px;
                color: #777;
                margin: 10px 0;
            }
            button {
                display: flex;
                padding: 0.8125rem 3.125rem 0.8125rem 3.0625rem;
                justify-content: center;
                align-items: center;
                border-radius: 1.25rem;
                border: 0.5px solid #000;
                cursor: pointer;
                background-color: #dbeafe;
                margin-top: 1rem;
            }
        }
        
        .imageContainer {
            flex: 1;
            text-align: right;
            margin-right: 10rem;
            
            img {
                width: 16rem;
                height: auto;
            }
        }
    }
    
    .cardContainer {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        .card {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            width: 30%;
            text-align: center;

            .cardImage {
                width: 12rem;
                height: auto;
                margin-bottom: 10px;
            }

            .cardTitle {
                font-size: 18px;
                color: #333;
            }

            .cardDescription {
                font-size: 14px;
                color: #777;
            }
        }
    }
}