/* LoginPage.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.brand-logo {
    width: 2em;
}

.brand-text{
    padding-left: 0.5em;
}

/* .sign-in-text{
    padding-bottom:0px;
    margin-left: 0px;
}

.card-content{
    padding-top:0px;
} */
.card-container {
    max-width: 400px;
    width: 100%;
    padding: 24px;
}

/* .sign-in-button {
    margin-top: 1em;
} */

.forgot-password {
    cursor: pointer;
    color: #2B57B3;
}

.create-account {
    color: #1976d2;
    cursor: pointer;
    text-align: center;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms-conditions{
    cursor: pointer;
    color: #2B57B3;
}